@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&family=Roboto&family=Squada+One&display=swap');

body{
    height: 100%;
    margin: 0;
}

/* Landing Screen */
#landing{
    background: #1ac073;
}

/* Navbar */
#navbar{
    color: white;

    width: 1180px;
    margin: 0 auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

#nav-brand{
    font-family: "Squada One";
    font-weight: 400;
    font-size: 32px;
}

#nav-links{
    font-family: "Roboto";
    font-weight: 400;
    font-size: 18px;

    list-style: none;

    width: 399px;

    display: flex;
    justify-content: space-between;
}

#nav-icons{
    width: 75px;

    display: flex;
    justify-content: space-between;
}

/* Hero Section */
#hero{
    width: 1180px;
    margin: 0 auto;

    color: white;

    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

#hero-left{
    padding-top: 21.25vh;
}

#hero-right{
    padding-top: 20.0vh;
}

#hero-heading{
    width: 534px;

    margin: 0;

    font-family: 'Roboto';
    font-weight: 400;
    font-size: 70px;
}

#hero-description{
    width: 441px;

    font-family: 'Roboto';
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
}

#hero-search{
    display: flex;
}

#hero-input{
    padding: 0;
    width: 398px;
    height: 58px;
    background: #FFFFFF;
    border: white;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;

    padding-left: 22px;
}

#hero-input::placeholder{
    height: 20px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;

    color: #929292;
}

#hero-button{
    width: 112px;
    padding: 19px 29px;

    color: white;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 16px;

    background: #F3BA00;
    border: #F3BA00;
    border-radius: 0px 10px 10px 0px;
}

/* Kitchen Screen */
#kitchen{
    background: #F7F8FA;
    font-family: "Roboto";
}

#kitchen-container, #carousel-container{
    width: 1180px;
    margin: 0 auto;
}

#kitchen-container h2{
    padding-top: 105px;
    padding-bottom: 63px;

    font-weight: 800;
    font-size: 40px;
    line-height: 24px;
    margin: 0;
}

#kitchen-card, #kitchen-card-carousel{
    display: flex;
    flex-direction: column;
}

#kitchen-card .dish-image, #kitchen-card-carousel .dish-image{
    width: 277px;
}

#kitchen-details{
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 277px;
    height: 87px;

    background: #FFFFFF;
    box-shadow: 0px 0px 1px rgba(187, 187, 187, 0.25);
    border-radius: 0px 0px 10px 10px;
    
}

#details1{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    margin-bottom: 16px;
    width: 246px;
    font-size: 16px;
    line-height: 20px;
}

#details2{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 246px;
    font-size: 12px;
    line-height: 20px;
}

#details2-left{
    width: 121px;

    display: flex;
    justify-content: space-between;
}

#rating{
    display: flex;
    width: 45px;

    justify-content: center;
    align-items: center;
    padding: 0px 4px;

    width: 37px;
    height: 20px;

    background: #F7F8FA;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}

#star-icon{
    width: 16px;
    height: 16px;
}

#dish-timing{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 68px;
    height: 20px;

    background: #BEBEBE;

    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}

#dish-timing span{
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 12px;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;

    letter-spacing: -0.012em;
    color: #1B1C21;

    width: 62px;
    height: 20px;

    background: #F7F8FA;
    border-radius: 5px;

}

#plus-icon{
    width: 22px;
    height: 20px;
    border-radius: 5px;
}

/* Kitchen Grid */
#kitchen-grid{
    display: grid;
    grid-template-columns: 277px 277px 277px 277px;
    gap: 39px 24px;
}

/* Carousel Container */
#carousel-container{
    text-align: center;
}

#carousel{
    display: flex;
    align-items: center;
}

#carousel-heading{
    margin: 122px 0 37.5px 0;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 20px;
    letter-spacing: -0.012em;

    color: #000000;
}

#carousel-cards{
    width: 933px;
    margin: 0 auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

#play-left-div{
    position: relative;
    height: 71.5px;
    width: 71.5px;
}

#play-left-empty, #play-left-fill, #play-right-empty, #play-empty-fill{
    position: absolute; 
    top: 0;
    left: 0;
    height: 71.5px;
    width: 71.5px;  
}

#play-left-fill{
    opacity: 0;
}

#play-left-fill:hover{
    opacity: 1;
    filter: drop-shadow(5px 4px 20px rgba(0, 0, 0, 0.2));
    transform: rotate(180deg);
    
}

#play-right-div{
    position: relative;
    height: 71.5px;
    width: 71.5px;
}

#play-right-empty{
    transform: rotate(180deg);
}

#play-right-fill{
    opacity: 0;
}

#play-right-fill:hover{
    opacity: 1;
    filter: drop-shadow(4px 5px 20px rgba(0, 0, 0, 0.2));
}

#kitchen-card-carousel:hover{
    filter: drop-shadow(0px 6px 40px rgba(0, 0, 0, 0.14));
}

#request-button{
    /* padding: 19px 25px; */
    /* gap: 10px; */

    width: 210px;
    height: 48px;

    background: #1AC073;
    border-radius: 10px;
    color: white;
    border: none;
    margin: 0 auto;

    font-family: 'Roboto';
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;

    margin: 87px 0 81px 0;
}

/* Video Section */
#video-container{
    width: 1050px;
    margin: 0 auto;
    text-align: center;
}

#v-headline{
    margin-bottom: 10px;
}

#v-description{
    margin-bottom: 50px;
}

.video-headline{
    margin: 0;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 40px;
    line-height: 57px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #252B42;
}

.video-description{
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #737373;
    margin: 0;
}